html {
    font-size: 62.5%;
}
body, p {
    height: 98vh;
    font-size: 1.6rem;
    font-family: "serenity", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.15;
    color: #e6b476;
}
h1 {font-size: 3.6rem;}
h2 {font-size: 3.0rem;}
h3 {font-size: 2.4rem;}
h4 {font-size: 2.0rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.6rem;}

h1, h2, h3, h4, h5, h6 {font-weight: 600;
    font-family: "Monarcha", serif;
    font-weight: 300;
    font-style: normal;
}

img {
    width: 100%;
    width: 100%;
    fill: currentColor;
    pointer-events: none;
}

/*--
Document Styles --*/

nav, footer{
    background-color: #976534f0;
    color: #e6b476;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 

}
nav div {
    display:flex;
}
.logo {
    align-items: center;
    gap: 2rem;
}
.links {
    align-items: center;
    gap: 1rem;
}
nav img {
    height: 60px;
    width: auto;
}
section {
    display: grid;
}
section.odd {
    grid-template-columns: 8fr 4fr;
}
section.even {
    grid-template-columns: 4fr 8fr;
}
div.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*-- Media Queries --*/

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 2rem;
    }
    section.even, section.odd {
        grid-template-columns: 1fr;
        section.even div.poster {
            order: -1;
        }
    }
}